.gallery--wrapper {
  margin: 1rem;
  display: flex;
  justify-self: center;
}

.gallery--list {
  padding: 0;
}

.gallery--track {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  margin: 2rem 10vw;
}

.gallery--track:hover {
  background: #444;
}

.gallery--track-wrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.track--album-art {
  min-width: 32px;
  min-height: 32px;
  max-width: 64px;
  max-height: 64px;
  margin: 0 1rem;
}

.track--playButton {
  width: 32px;
  height: 32px;
  margin: 0 1rem;
  border: 1px #fff solid;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.track--info {
  display: flex;
  margin: 0 1rem;
  flex-direction: column;
  justify-content: flex-start;
}

.track--name {
  font-size: 1rem;
  text-align: left;
}

.track--artist {
  font-size: 0.8rem;
  color: #777;
  text-align: left;
}
